
.full-height {
    height: 100vh;
  }
  
  .bg-gradient {
    background-image: url(../assests/bgblue.jpg)!important;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 
.white-box {
  background-color: skyblue;
  color: #000;
}
.border-40 {
  border-radius: 40px;
}
.blue-box {
    background: rgb(255 255 255 );
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgb(255 255 255);
}
.pright{
    padding-right: 10em;
}
.pleft{
    padding-left: 10em;
}
.light-blue-btn{
    background-color:rgb(15, 143, 194);
    border-radius: 20px;
    box-shadow: 1px 1px 6px 1px grey;
}
.light-blue-btn:hover{
    background-color: #0177ff;
   
}
.r-form input{
background-color: #e9e9e9;
border-radius: 30px;
box-shadow: 1px 1px 6px 1px grey;
}
@media only screen and (max-width: 1200px) 
{
    .pright{
        padding-right: 5em;
    }
    .pleft{
        padding-left: 5em;
    }
}
@media only screen and (max-width: 767px) 
{
    .pright{
        padding-right: 1em;
    }
    .pleft{
        padding-left: 1em;
    }
}
 @media only screen and (max-width: 1200px) 
{
   
    .register-background{
        margin: 1em;

    }
} 